*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html,body{
    height: 100%;
    width: 100%;  
}

.navbar{
    height: 70px;
    width: 100%;
    background-color: gray;
     display: flex;
    align-items: center;
    justify-content:space-around;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 21px 0px;
}

.homeHover{
    height: 400px;
    width: 100%;
    background-color: orange;
    position: absolute;
    top: 70px;
    display: none;
}

.inner{
    display: flex;
}
#home:hover + .homeHover{
    display:block;
}

.homeHover:hover{
    display: block;
}


.aboutHover{
    height: 400px;
    width: 100%;
    background-color: rgb(113, 77, 9);
    position: absolute;
    top: 70px;
    display: none;
}

#about:hover + .aboutHover{
    display: block;
}

.aboutHover:hover{
    display: block;
}

.servicesHover{
    height: 400px;
    width: 100%;
    background-color: rgb(159, 237, 2);
    position: absolute;
    top: 70px;
    display: none;
}

#service:hover + .servicesHover{
    display: block;
}

.servicesHover:hover{
    display: block;
}

.contactHover{
    height: 400px;
    width: 100%;
    background-color: rgb(7, 168, 196);
    position: absolute;
    top: 70px;
    display: none;
}

#contact:hover + .contactHover{
    display: block;
}

.contactHover:hover{
    display: block;
}

.bloghover{
     height: 400px;
    width: 100%;
    background-color: rgb(172, 39, 106);
    position: absolute;
    top: 70px;
    display: none;
}
#blog:hover + .bloghover{
    display: block;
}

.bloghover:hover{
    display: block;
}