*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.box{
    height: 200px;
    width: 200px;
    background-color: coral;
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count:1;
}

@keyframes move{

    0%{

        transform:translateY(200px);
        opacity: 0;
    }

    50%{
        transform:translateY(100px);
        opacity: 0.5;

    }

    100%{

      transform: translateY(0);
        opacity: 1;
    }

}