*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 300px;
    width: 100%;
    background-color: orange;
    overflow: scroll;
}

.main::-webkit-scrollbar{
    display: none;
}

.scroller{
    width: fit-content;
    display: flex;
    gap: 30px;
     animation-name: scroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.card{
    height: 300px;
    width: 300px;
    background-color: aqua;  
}


@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}